//colors
$light_blue: #82d4ff;
$black: #111;
$dark_grey: #333;
$sky_blue: #3489ff;
$royal_blue: #536dfe;
$gray: #565656;
$light_gray: #ddd;
$sea_blue: #3bbcff;
$white: #fff;
$grayish: #b6b6b6;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}


@media only screen and(min-width : 993px) {
    header {
        padding-left: 240px;
    }
    main {
        padding-left: 240px;
    }
    footer {
        padding-left: 240px;
    }
}
#index-banner {
    background-color: $light_blue;
    color: $black;
    img {
        width: 100%;
        margin: 0 auto;
    }
    h5 {
        color: $dark_grey;
    }
}
.icon-block {
    padding: 0 15px;
    &.icon {
        color: $sky_blue;
    }
}
.input-field {
    input[type=text] {
        &:focus+label {
            color: $royal_blue;
        }
        &:focus + label {
            color: $royal_blue;
        }
    }
    input[type=password] {
        &:focus+label {
            color: $royal_blue;
        }
        &:focus + label {
            color: $royal_blue;
        }
    }
    input[type=email] {
        &:focus+label {
            color: $royal_blue;
        }
        &:focus + label {
            color: $royal_blue;
        }
    }
    input[type=date] {
        &:focus+label {
            color: $royal_blue;
        }
        &:focus + label {
            color: $royal_blue;
        }
    }
    textarea:focus {
        &.materialize-textarea+label {
            color: $royal_blue;
        }
        + label {
            color: $royal_blue;
        }
    }
    .prefix.active {
        color: $gray;
    }
    input[type=tel]:focus+label {
        color: $royal_blue;
    }
    input[type=number]:focus+label {
        color: $royal_blue;
    }
}
@media only screen and(min-width : 601px) and(max-width : 992px) {
    .modal {
        width: 80%;
    }
}
@media only screen and(max-width : 600px) {
    .modal {
        width: 100%;
    }
}
ul {
    &.side-nav {
        &.fixed li {
            @include transition(background-color 0.3s ease 0s);
            line-height: 64px;
            &.logo {
                text-align: center;
                padding-top: 20px;
                padding-bottom: 10px;
                // border-bottom: 1px solid $light_gray;
                background-color: $sea_blue;
                &:hover {
                    background-color: transparent;
                }
            }
            &:hover {
                background-color: $white;
            }
            &.active {
                background-color: $gray;
                a {
                    color: $white;
                }
            }
        }
        &.full li {
            @include transition(background-color 0.3s ease 0s);
            line-height: 64px;
            &:hover {
                background-color: $white;
            }
            &.active {
                background-color: $gray;
                color: $white;
            }
        }
    }
    &.list-bullets {
        list-style-type: circle;
        margin-left: 2em;
        li {
            list-style-type: circle;
        }
    }
}
#logo-container {
    height: 100px;
    margin-bottom: 32px;
}
#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}
@media only screen and(max-width : 992px) {
    header {
        padding-left: 0;
    }
    main {
        padding-left: 0;
    }
    footer {
        padding-left: 0;
    }
}
a {
    color: $royal_blue;
}
.card {
    a {
        color: $royal_blue;
        margin-right: 0;
        text-transform: none;
        &:hover {
            color: $royal_blue;
        }
    }
    .card-action {
        border-top: 1px solid $grayish;
    }
}
body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
}
header {
    flex-shrink: 0;
}
footer {
    flex-shrink: 0;
}
main {
    flex: 1 0 auto;
}
b {
    color: $royal_blue;
}
#slide-out {
    overflow-y: auto;
}
#nav-mobile {
    overflow-y: auto;
}
ul.left-arrow {
    li {
        &:before {
            content: "> ";
            color: $royal_blue;
            font-weight: bold;
        }
    }
}
ul.right-arrow {
    li {
        &:after {
            content: " <";
            color: $royal_blue;
            font-weight: bold;
        }
    }
}
#thanks {
    font-size: 1.1em;
}
.countdown {
    max-width: 1000px;
    margin: 0 auto;
}
.page-footer {
    background: $gray !important;
}
.head-nav {
    background: $sky_blue;
}
.header {
    color: $white;
}
h1 {
    color: $white;
}
h2 {
    color: $sky_blue;
}
h3 {
    color: $sky_blue;
}
h4 {
    color: $sky_blue;
}
h5 {
    color: $sky_blue;
}
h6 {
    color: $sky_blue;
}
.collapsible-header {
    color: $sky_blue;
}
button {
    background: $sky_blue;
}
.blue-text {
    color: $sky_blue;
}
.blue-back {
    background: $sky_blue;
}
input[type=text]:focus {
    
    border-bottom: 1px solid $royal_blue;
    @include box-shadow(0, 1px, 0, 0, $royal_blue);
}
input[type=password]:focus {
    
    border-bottom: 1px solid $royal_blue;
    @include box-shadow(0, 1px, 0, 0, $royal_blue);
}
input[type=email]:focus {
    border-bottom: 1px solid $royal_blue;
    @include box-shadow(0, 1px, 0, 0, $royal_blue);
}
input[type=date]:focus {
    
    border-bottom: 1px solid $royal_blue;
    @include box-shadow(0, 1px, 0, 0, $royal_blue);
}
textarea:focus {
    
    border-bottom: 1px solid $royal_blue;
    @include box-shadow(0, 1px, 0, 0, $royal_blue);
    &.materialize-textarea {
        @include box-shadow(0, 1px, 0, 0, $royal_blue);
    }
}
input[type=tel]:focus {
    
    @include box-shadow(0, 1px, 0, 0, $royal_blue);
}
input[type=number]:focus {
    
    @include box-shadow(0, 1px, 0, 0, $royal_blue);
}
.syndis .card-image {
    padding: 40px 20px;
}