@media only screen and (min-width : 993px) {
  header, main, footer {
    padding-left: 240px;
  };
}

#index-banner {
  background-color: #3489ff;
  color: #111;
  h5 {
    color: #333;
  }
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.icon-block {
  padding: 0 15px;
  .icon {
    color: #3489ff;
  }
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=date]:focus + label, .input-field textarea:focus + label {
  color: #536dfe;
}

.input-field .prefix.active {
  color: #536dfe;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, textarea:focus {
  border-bottom: 1px solid #536dfe;
  -webkit-box-shadow: 0 1px 0 0 #536dfe;
  -moz-box-shadow: 0 1px 0 0 #536dfe;
  box-shadow: 0 1px 0 0 #536dfe;
}

@media only screen and (min-width : 601px) and (max-width : 992px) {
  .modal {
    width: 80%;
  };
}

@media only screen and (max-width : 600px) {
  .modal {
    width: 100%;
  };
}

ul.side-nav.fixed li.logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  // border-bottom: 1px solid #ddd;
  background-color: #3489ff;
  border-bottom: 3px solid #EEE;
}

ul.side-nav.fixed li.logo:hover {
  background-color: transparent;
}

#logo-container {
  height: 100px;
  margin-bottom: 32px;
}

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
  // filter: drop-shadow(12px 12px 7px rgba(42,121,226,1));
  // -webkit-filter: drop-shadow(7px 7px 7px rgba(0,0,0,0.4));
  // filter: drop-shadow(7px 7px 7px rgba(0,0,0,0.4));
  // filter: url(shadow.svg#drop-shadow);
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=7, OffY=7, Color='#000')";
filter: url(#drop-shadow);
-webkit-filter: drop-shadow(7px 7px 7px rgba(0,0,0,0.5));
filter: drop-shadow(7px 7px 7px rgba(0,0,0,0.5));

};

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  };
}

a, .card a, .card a:hover {
  color: #536dfe;
}

ul.side-nav.full li, ul.side-nav.fixed li {
  transition: background-color 0.3s ease 0s;
  line-height: 64px;
}

ul.side-nav.full li:hover, ul.side-nav.fixed li:hover {
  background-color: #FFF;
}

ul.side-nav.full li.active, ul.side-nav.fixed li.active {
  background-color: #3489ff;
  a {
    color: white;
  }
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, textarea:focus.materialize-textarea {
  border-bottom: 1px solid #536dfe;
  -webkit-box-shadow: 0 1px 0 0 #536dfe;
  -moz-box-shadow: 0 1px 0 0 #536dfe;
  box-shadow: 0 1px 0 0 #536dfe;
}

.input-field input[type=text]:focus+label, .input-field input[type=password]:focus+label, .input-field input[type=email]:focus+label, .input-field input[type=date]:focus+label, .input-field input[type=tel]:focus+label, .input-field input[type=number]:focus+label, .input-field textarea:focus.materialize-textarea+label {
  color: #536dfe;
}

.card .card-action {
  border-top: 1px solid #B6B6B6;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
}

header, footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

.card a {
  margin-right: 0;
  text-transform: none;
}

b {
  color: #536dfe;
}

#slide-out, #nav-mobile {
  overflow-y: auto;
}

#rules li:before, #thanks li:before, #prizes li:before {
  content: "> ";
  color: #536dfe;
  font-weight: bold;
}

#thanks li:after {
  content: " <";
  color: #536dfe;
  font-weight: bold;
}

#thanks {
  font-size: 1.1em;
}

.syndis .card-image {
  padding: 40px 20px;
}


ul.list-bullets {
  list-style-type: circle;
  li {
    list-style-type: circle;
  }
  margin-left: 2em;
}

.countdown {
  max-width: 1000px;
  margin: 0 auto;
}

.page-footer
{
    background: #3489ff !IMPORTANT;
}
