@media only screen and (min-width: 993px) {
  /* line 36 */
  header {
    padding-left: 240px;
  }

  /* line 39 */
  main {
    padding-left: 240px;
  }

  /* line 42 */
  footer {
    padding-left: 240px;
  }
}
/* line 46 */
#index-banner {
  background-color: #E3E3E3;
  color: #111;
}
/* line 49 */
#index-banner img {
  width: 100%;
  margin: 0 auto;
}
/* line 53 */
#index-banner h5 {
  color: #333;
}

/* line 57 */
.icon-block {
  padding: 0 15px;
}
/* line 59 */
.icon-block.icon {
  color: #3489ff;
}

/* line 65 */
.input-field input[type=text]:focus + label {
  color: #536dfe;
}
/* line 68 */
.input-field input[type=text]:focus + label {
  color: #536dfe;
}
/* line 73 */
.input-field input[type=password]:focus + label {
  color: #536dfe;
}
/* line 76 */
.input-field input[type=password]:focus + label {
  color: #536dfe;
}
/* line 81 */
.input-field input[type=email]:focus + label {
  color: #536dfe;
}
/* line 84 */
.input-field input[type=email]:focus + label {
  color: #536dfe;
}
/* line 89 */
.input-field input[type=date]:focus + label {
  color: #536dfe;
}
/* line 92 */
.input-field input[type=date]:focus + label {
  color: #536dfe;
}
/* line 97 */
.input-field textarea:focus.materialize-textarea + label {
  color: #536dfe;
}
/* line 100 */
.input-field textarea:focus + label {
  color: #536dfe;
}
/* line 104 */
.input-field .prefix.active {
  color: #565656;
}
/* line 107 */
.input-field input[type=tel]:focus + label {
  color: #536dfe;
}
/* line 110 */
.input-field input[type=number]:focus + label {
  color: #536dfe;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* line 115 */
  .modal {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 120 */
  .modal {
    width: 100%;
  }
}
/* line 126 */
ul.side-nav.fixed li {
  -moz-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  line-height: 64px;
}
/* line 129 */
ul.side-nav.fixed li.logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #3bbcff;
}
/* line 135 */
ul.side-nav.fixed li.logo:hover {
  background-color: transparent;
}
/* line 139 */
ul.side-nav.fixed li:hover {
  background-color: #fff;
}
/* line 142 */
ul.side-nav.fixed li.active {
  background-color: #565656;
}
/* line 144 */
ul.side-nav.fixed li.active a {
  color: #fff;
}
/* line 149 */
ul.side-nav.full li {
  -moz-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  line-height: 64px;
}
/* line 152 */
ul.side-nav.full li:hover {
  background-color: #fff;
}
/* line 155 */
ul.side-nav.full li.active {
  background-color: #565656;
  color: #fff;
}
/* line 161 */
ul.list-bullets {
  list-style-type: circle;
  margin-left: 2em;
}
/* line 164 */
ul.list-bullets li {
  list-style-type: circle;
}

/* line 169 */
#logo-container {
  height: 100px;
  margin-bottom: 32px;
}

/* line 173 */
#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}

@media only screen and (max-width: 992px) {
  /* line 179 */
  header {
    padding-left: 0;
  }

  /* line 182 */
  main {
    padding-left: 0;
  }

  /* line 185 */
  footer {
    padding-left: 0;
  }
}
/* line 189 */
a {
  color: #536dfe;
}

/* line 193 */
.card a {
  color: #536dfe;
  margin-right: 0;
  text-transform: none;
}
/* line 197 */
.card a:hover {
  color: #536dfe;
}
/* line 201 */
.card .card-action {
  border-top: 1px solid #b6b6b6;
}

/* line 205 */
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
}

/* line 211 */
header {
  flex-shrink: 0;
}

/* line 214 */
footer {
  flex-shrink: 0;
}

/* line 217 */
main {
  flex: 1 0 auto;
}

/* line 220 */
b {
  color: #536dfe;
}

/* line 223 */
#slide-out {
  overflow-y: auto;
}

/* line 226 */
#nav-mobile {
  overflow-y: auto;
}

/* line 231 */
ul.left-arrow li:before {
  content: "> ";
  color: #536dfe;
  font-weight: bold;
}

/* line 240 */
ul.right-arrow li:after {
  content: " <";
  color: #536dfe;
  font-weight: bold;
}

/* line 247 */
#thanks {
  font-size: 1.1em;
}

/* line 250 */
.countdown {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 254 */
.page-footer {
  background: #565656 !important;
}

/* line 257 */
.head-nav {
  background: #3489ff;
}

/* line 260 */
h1 {
  color: #fff;
}

/* line 263 */
h2 {
  color: #3489ff;
}

/* line 266 */
h3 {
  color: #3489ff;
}

/* line 269 */
h4 {
  color: #3489ff;
}

/* line 272 */
h5 {
  color: #3489ff;
}

/* line 275 */
h6 {
  color: #3489ff;
}

/* line 278 */
.collapsible-header {
  color: #3489ff;
}

/* line 281 */
button {
  background: #3489ff;
}

/* line 284 */
.blue-text {
  color: #3489ff;
}

/* line 287 */
.blue-back {
  background: #3489ff;
}

/* line 290 */
input[type=text]:focus {
  border-bottom: 1px solid #536dfe;
  -webkit-box-shadow: inset 0 1px 0 0;
  -moz-box-shadow: inset 0 1px 0 0;
  box-shadow: inset 0 1px 0 0;
}

/* line 295 */
input[type=password]:focus {
  border-bottom: 1px solid #536dfe;
  -webkit-box-shadow: inset 0 1px 0 0;
  -moz-box-shadow: inset 0 1px 0 0;
  box-shadow: inset 0 1px 0 0;
}

/* line 300 */
input[type=email]:focus {
  border-bottom: 1px solid #536dfe;
  -webkit-box-shadow: inset 0 1px 0 0;
  -moz-box-shadow: inset 0 1px 0 0;
  box-shadow: inset 0 1px 0 0;
}

/* line 304 */
input[type=date]:focus {
  border-bottom: 1px solid #536dfe;
  -webkit-box-shadow: inset 0 1px 0 0;
  -moz-box-shadow: inset 0 1px 0 0;
  box-shadow: inset 0 1px 0 0;
}

/* line 309 */
textarea:focus {
  border-bottom: 1px solid #536dfe;
  -webkit-box-shadow: inset 0 1px 0 0;
  -moz-box-shadow: inset 0 1px 0 0;
  box-shadow: inset 0 1px 0 0;
}
/* line 313 */
textarea:focus.materialize-textarea {
  -webkit-box-shadow: inset 0 1px 0 0;
  -moz-box-shadow: inset 0 1px 0 0;
  box-shadow: inset 0 1px 0 0;
}

/* line 317 */
input[type=tel]:focus {
  -webkit-box-shadow: inset 0 1px 0 0;
  -moz-box-shadow: inset 0 1px 0 0;
  box-shadow: inset 0 1px 0 0;
}

/* line 321 */
input[type=number]:focus {
  -webkit-box-shadow: inset 0 1px 0 0;
  -moz-box-shadow: inset 0 1px 0 0;
  box-shadow: inset 0 1px 0 0;
}

/* line 325 */
.syndis .card-image {
  padding: 40px 20px;
}
